POC/Amostra 01/DAE004.txt
POC/Amostra 01/*.log
POC/Amostra 01/Amostra_01*.pdf
POC/Amostra 02/*.log
POC/Amostra 02/Amostra_02*.pdf
POC/Amostra 03/*.log
POC/Amostra 03/Amostra_03*.pdf
POC/Amostra 04/*.log
POC/Amostra 04/Amostra_04*.pdf
POC/Amostra 05/*.log
POC/Amostra 05/Amostra_05*.pdf
