POC/*/*Amostra*
POC/*/out/*
POC/Amostra 01/DAE004.txt
POC/Amostra 01/DAE004.xml
POC/tests
POC/tests/*
Vander/*
POC/Amostra 01/Modelo Celepar/*
POC/Amostra 02/Modelo Celepar/*
POC/Amostra 03/Modelo Celepar/*
POC/Amostra 04/Modelo Celepar/*
POC/Amostra 05/Modelo Celepar/*
